body{
    background-color: #f7ede1 ;
}

.buttons{
    display: flex;
    margin: 50px;
    gap: 40px;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    padding: 25px;
    border-radius: 25px;
    min-width: 150px;
    background-color: #004953;
    color: white;
    font-size: 18px;
    border-color: #4ec5cf;
    border-width: 3px;
    outline: none;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px

}

.button:hover{
    background-color: #4ec5cf;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #004953;
    border-color: #4ec5cf;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

h2{
    color: white;
}

img{
    max-width: 100px;
    flex-grow: 1;
    display: flex;
    align-items: center; 
    max-height: 80%;
}

h1{
    color:#004953;
}

.score-box{
    background-color: #4ec5cf;
    border-color: #004953;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 80px;
    font-size: 20px;
}
#playerscore{
    font-size: 40px;
}

#computerscore{
    font-size: 40px;
}

.score-board{
    display: flex;
    gap: 20px;
    width: 100%;

}



